.sectionFontSize{
    font-size:30px;
   text-align: left;
}
.contentfontSize{
    /* font-size: 22px;
     padding-right: 50px;
     padding-left: 50px; */
    /* text-align: center; */
    margin-left:146px;
    margin-right:146px;
    font-size:20px;
    } 
    .checkboxfont{
        font-size: 22px;
    }
    .formCloseline{
        border-bottom: 1px solid #000000;
        width:1150px;
        margin-left: 90px;
        margin-right: 90px;
    }

    .rounded-input {
        border-radius: 5px;
		font-size: 22px;
    }
	.card {
        padding: 10px;
	}

	.flex-container {
    display: flex;
    justify-content: space-between;
}

.flex-item {
    flex: 1;
    margin-right: 10px; /* Optional: Add margin between input boxes */
}

.accordion-content {
    display: none;
	}

	.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
.active, .collapsible:hover {
  background-color: #555;
}
.buttonclass {
   text-align: center;
  background-color: #f1f1f1;
}
.button-container {
        text-align: center;
    }



.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.custom-label {
    /* font-family: 'Your Desired Font', sans-serif; */
	--lwc-formLabelFontSize: 20px;
	height: auto;
    --lwc-formLabelFontWeight:bold;
    padding-bottom: 20px;
}