.sectionFontSize{
    font-size:30px;
    padding-left:290px;
}
.contentfontSize{
    font-size: 22px;
    padding-left:100px;
    padding-right:50px;
    } 
    .checkboxfont{
        font-size: 22px;
    }
    .formCloseline{
        border-bottom: 1px solid #000000;
        width:1230px;
       
        margin-right: 100px;
    }