.registrationFont{
    border-bottom: 1px solid #000000;
   
}
.sectionFontSize{
    font-size:30px;
    padding-left:250px;
}
.youthLogo{
    padding-left:150px;
}
.registrationFontLength{
    padding-left:450px;
    font-size:30px;
}